.container{
    background:#E7F2FF;
}

.sidebar>ul>.active>a{
    background: url('../img/icon-user.png') 5.69px 10.67px no-repeat !important;
    background-size: 21px 21px !important;
}
.sidebar-flod>ul>.active>a{
    background: url('../img/icon-user.png') 0px 0px no-repeat !important;
    background-size: 21px 21px !important;
}
.content>p{
    font-size: 16px;
    color: #00499D;
    margin-bottom: 0;
}